*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
}
form{
  width: 100%;
  position: fixed;

}

ul{
  padding: 3rem 2rem 1rem;
}
li{
  margin-bottom: 1rem;
}
button{
  width: 33.33%;
  font-size: 1.2rem;
  transition: background-color .2s ease;
  background-color: #eee;
  border: none;
  margin-top: 10px;
  padding: .2rem;
}

button:hover{
  background-color: #000;
  color: #ddd;
}

button.selected{
  background-color: #000;
  color: #eee;
}

