*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
}
form{
  width: 100%;
  margin-bottom: 10px;
  position: fixed;

}

ul{
  padding: 3rem 2rem 1rem;
}
li{
  margin-bottom: 1rem;
}
button{
  width: 33.33%;
  font-size: 1rem;
}

button.selected{
  background-color: #000;
  color: #eee;
}

